@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #848484;
$secondary_color: #0190cb;
$background: #e0e0e0;
$border: #cbcbcb;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Myriad Pro Bold Condensed';
	src: url(fonts/MyriadPro-BoldCond.otf);
}

@font-face {
	font-family: 'Myriad Pro Condensed';
	src: url(fonts/MyriadPro-Cond.otf);
}

@font-face {
	font-family: 'Myriad Pro Semibold';
	src: url(fonts/MyriadPro-Semibold.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						height: 100px;
						padding: 0 5px;
						background: {
							image: url(moduletable_to2_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&#menu-item-121 {
							/*background: none;*/
						}
						&#menu-item-10 {
							width: 372px;
							padding: 0;
							background: none;
							&.current-menu-item {
								a {
									border-bottom: none;
								}
							}
							a {
								width: 372px;
								height: 100px;
								padding: 0;
								background: {
									image: url(logo.svg);
									position: center;
									repeat: no-repeat;
								}
								color: transparent;
							}
						}
						&.current-menu-item {
							a {
								color: $primary_color;
							}
						}
						a {
							padding: 42px 6px;
							font-family: 'Myriad Pro Semibold';
							color: $secondary_color;
							line-height: 20px;
							text-transform: uppercase;
							&:hover {
								color: $primary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		padding: 10px 0;
		.woocommerce-product-search {
			input {
				&.search-field {
					height: inherit;
					margin: 0;
					padding: 3px 5px 3px 30px;
					background: {
						color: #f3f3f3;
						image: url(moduletable_to3_input_bg.png);
						position: left;
						repeat: no-repeat;
					}
					border: 0;
					border-radius: 0;
					box-shadow: none;
					font-size: 12px;
					line-height: 12px;
				}
				&:placeholder {
					color: $primary_color;
				}
			}
			button {
				display: none;
			}
		}
	}
	.moduletable_to4 {
		padding: 10px 0;
		font-size: 18px;
		a {
			margin: 0 5px;
			display: inline-block;
		}
	}
	.moduletable_to5,
	.moduletable_to6,
	.moduletable_to7 {
		padding: 5px 0;
		a.button {
			margin: 0;
			padding: 5px 10px;
			border-radius: 0;
			font-size: 12px;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	h1 {
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid $border;
		font-size: 34px;
		color: $secondary_color;
		text-transform: uppercase;
	}
	h2 {
		font: {
			size: 22px;
			weight: bold;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.home {
		font: {
			family: 'Myriad Pro Condensed';
			size: 34px;
		}
		line-height: 38px;
	}
	.main_title {
		margin-bottom: 40px;
		padding: 40px 0;
		background: {
			image: url(woocommerce_h1_bg.png);
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		h1 {
			margin: 0;
			padding: 0;
			border: 0;
			color: #fff;
		}
	}
	.menu_left,
	.moduletable_le1 {
		.woocommerce-product-search {
			margin-bottom: 20px;
			input {
				&.search-field {
					height: inherit;
					margin: 0;
					padding: 3px 5px 3px 30px;
					background: {
						color: #f3f3f3;
						image: url(moduletable_to3_input_bg.png);
						position: left;
						repeat: no-repeat;
					}
					border: 0;
					border-radius: 0;
					box-shadow: none;
					font-size: 12px;
					line-height: 12px;
				}
				&:placeholder {
					color: $primary_color;
				}
			}
			button {
				display: none;
			}
		}
		.bellows {
			margin: 0;
			background-color: transparent !important;
			box-shadow: none;
			ul {
				border-right: 1px solid $border;
				li {
					&.bellows-current_page_item {
						a {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
					}
					&.bellows-menu-item-has-children.bellows-active {
						a {
							&.bellows-target {
								background-color: transparent !important;
								color: $secondary_color !important;
							}
						}
					}
					a {
						margin: 0;
						padding: 10px;
						font: {
							family: 'Myriad Pro Bold Condensed';
							size: 18px;
						}
						color: $primary_color !important;
						text-transform: uppercase;
						&:hover {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
						span.bellows-subtoggle {
							width: 50px;
							background: transparent !important;
						}
					}
					ul {
						border: 0;
						li {
							a {
								font-size: 14px;
								text-transform: initial;
							}
						}
					}
				}
			}
		}
	}
	.ywraq-wrapper {
		input.button {
			color: #fff;
		}
		.shop_table.cart {
			.product-subtotal {
				display: none;
			}
		}
	}
	.woocommerce {
		ul.products {
			li,
			li.product-category {
				margin-bottom: 10px;
				.count {
					display: none;
				}
				a,
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					.thumbnail-loop {
						min-height: 200px;
						margin: 0;
						margin-bottom: 10px;
						padding: 0;
						border: 1px solid #ccc;
						img {
							margin: 0;
							padding: 10px;
						}
					}
					h2.woocommerce-loop-category__title,
					h2.woocommerce-loop-product__title {
						width: 100%;
						padding: 10px 0 !important;
						/*min-height: 80px;*/
						border: {
							top: 1px solid $border;
							bottom: 1px solid $border;
						}
						font: {
							family: 'Myriad Pro Bold Condensed';
							size: 18px;
						}
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
		.product {
			.images {}
			.summary {
				padding: 100px 0 0 0;
				.product_title {
					font-size: 22px;
				}
				.logos {
					padding: 40px 0;
					table {
						tbody {
							border: 0;
						}
					}
					p {
						margin: 0;
					}
					img {
						max-width: 48px !important;
					}
				}
				.yith-ywraq-add-to-quote {
					text-align: center !important;
				}
			}
			.tabs-content {
				margin-bottom: 20px;
				color: $primary_color;
				table {
					tbody {
						tr {
							td {
								border: 1px solid $border;
							}
						}
					}
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
	&.special {
		.single_main {
			.single_thumbnail {
				max-width: 500px;
				margin: auto;
				margin-bottom: 20px;
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 60px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		h3 {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #fff;
			font-size: 34px;
			color: #fff;
			text-transform: uppercase;
		}
		.owl-item {
			figure {
				text-align: center;
				a {
					&.wpb_pro_img_url {
						margin-bottom: 10px;
					}
				}
				figcaption {
					background: transparent;
					a {
						h3 {
							margin: 0;
							padding: 10px 0;
							border: {
								top: 1px solid #fff;
								bottom: 1px solid #fff;
							}
							font-size: 24px;
							color: #fff;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 60px 0;
	.moduletable_b21 {
		h3 {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font-size: 34px;
			color: $secondary_color;
			text-transform: uppercase;
		}
		p {
			margin: 0;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 40px 0;
	background-color: $background;
	.moduletable_b31 {
		h3 {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font-size: 34px;
			color: $secondary_color;
			text-transform: uppercase;
		}
		p {
			margin: 0;
		}
		a.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 40px 0;
	.moduletable_b41 {
		h3 {
			margin-bottom: 10px;
			font-size: 34px;
			color: $secondary_color;
			text-transform: uppercase;
		}
		.wpcf7 {
			input,
			textarea {
				height: inherit;
				margin: 0;
				padding: 5px;
				background-color: $background;
				border-radius: 0;
				font-size: 12px;
				&.button {
					margin-bottom: 10px;
					background-color: $secondary_color;
				}
			}
		}
	}
}

/* Block 5 */

.block_5 {
	padding-bottom: 40px;
	.moduletable_b51 {
		font: {
			family: 'Myriad Pro Condensed';
			size: 20px;
		}
	}
}

/* Block 6 */

.block_6 {
	padding-bottom: 40px;
	.moduletable_b61 {
		text-align: center;
		a {
			width: 70px;
			height: 70px;
			margin: 0 20px;
			border: 1px solid $secondary_color;
			border-radius: 50%;
			font-size: 30px;
			line-height: 68px;
			display: inline-block;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			margin: 10px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: $secondary_color;
					text-align: center;
					button {
						&.menu-icon.dark {
							&:after {
								background: $secondary_color;
								box-shadow: 0 7px 0 $secondary_color, 0 14px 0 $secondary_color;
							}
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						li {
							width: 100%;
							height: inherit;
							background: none;
							&#menu-item-10 {
								display: none;
							}
							a {
								height: inherit;
								padding: 5px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}